---

#
# Copyright (c) 2015 Davide Guerri <davide.guerri@gmail.com>
#
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

- name: Configure Glance API database
  ini_file: >
    dest=/etc/glance/glance-api.conf
    section=database
    option=connection
    value="{{ glance_database_url }}"
  notify:
    - Sync Glance database
    - Restart Glance API

- name: Configure Glance API
  ini_file: >
    dest=/etc/glance/glance-api.conf
    section="{{ item.section }}"
    option="{{ item.option }}"
    value="{{ item.value }}"
  with_items:
    - section:  DEFAULT
      option:   rpc_backend
      value:    rabbit
    - section:  DEFAULT
      option:   bind_host
      value:    "{{ glance_bind_host }}"
    - section:  DEFAULT
      option:   bind_port
      value:    "{{ glance_port }}"
    - section:  DEFAULT
      option:   rabbit_host
      value:    "{{ rabbit_hostname }}"
    - section:  DEFAULT
      option:   rabbit_userid
      value:    "{{ rabbit_username }}"
    - section:  DEFAULT
      option:   rabbit_password
      value:    "{{ rabbit_pass }}"
    - section:  DEFAULT
      option:   log_file
      value:    "{{ glance_log_dir }}/api.log"
    - section:  DEFAULT
      option:   verbose
      value:    True
    - section:  keystone_authtoken
      option:   identity_uri
      value:    "{{ keystone_protocol }}://{{ keystone_hostname }}:{{ keystone_admin_port }}"
    - section:  keystone_authtoken
      option:   auth_uri
      value:    "{{ keystone_protocol }}://{{ keystone_hostname }}:{{ keystone_port }}/v2.0"
    - section:  keystone_authtoken
      option:   admin_tenant_name
      value:    service
    - section:  keystone_authtoken
      option:   admin_user
      value:    "{{ glance_user }}"
    - section:  keystone_authtoken
      option:   admin_password
      value:    "{{ glance_pass }}"
    - section:  paste_deploy
      option:   flavor
      value:    keystone
  notify:
    - Restart Glance API

- name: Configure Glance registry database
  ini_file: >
    dest=/etc/glance/glance-registry.conf
    section=database
    option=connection
    value="{{ glance_database_url }}"
  notify:
    - Sync Glance database
    - Restart Glance registry

- name: Configure Glance registry
  ini_file: >
    dest=/etc/glance/glance-registry.conf
    section="{{ item.section }}"
    option="{{ item.option }}"
    value="{{ item.value }}"
  with_items:
    - section:  DEFAULT
      option:   log_file
      value:    "{{ glance_log_dir }}/registry.log"
    - section:  DEFAULT
      option:   verbose
      value:    True
    - section:  keystone_authtoken
      option:   identity_uri
      value:    "{{ keystone_protocol }}://{{ keystone_hostname }}:{{ keystone_admin_port }}"
    - section:  keystone_authtoken
      option:   auth_uri
      value:    "{{ keystone_protocol }}://{{ keystone_hostname }}:{{ keystone_port }}/v2.0"
    - section:  keystone_authtoken
      option:   admin_tenant_name
      value:    service
    - section:  keystone_authtoken
      option:   admin_user
      value:    glance
    - section:  keystone_authtoken
      option:   admin_password
      value:    "{{ glance_pass }}"
    - section:  paste_deploy
      option:   flavor
      value:    keystone
  notify:
    - Restart Glance registry
